.products-container {
    display: flex;
    flex-direction: row;
    max-height: calc(100vh - 120px); 
    margin-bottom: 60px; 
  }
  
  .side-nav {
    flex: 0 0 200px;
    background-color: #f4f4f4;
    padding: 20px;
    overflow-y: auto;
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    height: 500px;
  }

  .side-nav button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f4f4f4;
    text-align: center; 
    margin-bottom: 5px; 
    cursor: pointer;
    font-size: 1rem; 
    transition: background-color 0.3s;
  }
  
  .products-view {
    flex: 1; 
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; 
  
  }
  
  .horizontal-scroll {
    display: flex;
    overflow-x: auto; 
    gap: 20px;
  
  }
  
  .product-card {

  }
  
  .accessories-container {
    display: flex;           /* Enable Flexbox */
    flex-direction: row;     /* Align items horizontally */
    justify-content: center; /* Center items horizontally */
    align-items: center;     /* Center items vertically */
    gap: 10px;              
  }
  
  .accessory-card {
    flex: 0 0 auto;         
  }
  